
        <h1>PROFIL DE :
          <%=@user.email%></h1>
  <h1>first name :
          <%=@user.first_name%></h1>
             <h1>last name :<%=@user.last_name%></h1>
                <h1>description:<%=@user.description%></h1>
             <h1>age:<%=@user.age%></h1>
              <h1>email:<%=@user.email%></h1>